.playground {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .hole {
    background-image: url("../images/molehill.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height:150px;
    margin: 150px 5px 0 5px;
    flex-basis: calc(33.333% - 15px);

    .mole {
      background-image: url("../images/mole2.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}