button {
  padding: 8px 25px;
  font-size: 20px;
  background: transparent;
  outline: 0;
  border: 4px solid rgba(255, 255, 255, .7);
  display: block;
  margin: 15px auto 20px;
  transition: .5s;
  font-family: "AR JULIAN";
  
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px $color-black;
    color: $color-white;
  }
}